{
	margin-left:auto;margin-right:auto;display:block;
	
}

#google search{
	
			display;inline-block;margin-left:520px;margin-right:auto;	
				
			}
#feelingLucky{display:inline-block;}

li{font-family:arial;font-size:15px;list-style:none;display:inline-block;}

nav{text-align:right;padding-right:100px;word-spacing:10px;}

#username{opacity:.50;}
a,a:visited{text-decoration:none}
a:hover{text-decoration:underline}

img{margin-left:auto;margin-right:auto;display:block;}
#searchBox{margin-left:auto;margin-right:auto;display:block;width:400;}
img{margin-top:200px;}

 